# Server Configuration
PORT=
SESSION_SECRET=

# Default Admin Credentials (dùng để khởi tạo lần đầu)
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_NAME=

# Cloudflare API Configuration
# Có thể cấu hình ở đây hoặc cấu hình trực tiếp trên giao diện Admin
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_ROOT_DOMAIN=

# System Defaults
DEFAULT_MAX_SUBDOMAINS=
