# Dependency directories
node_modules/
npm-debug.log

# Environment variables
.env

# Database files
data/*.db
data/*.sqlite
data/*.sqlite3
data/*.db-shm
data/*.db-wal

# macOS specific
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
